#categories_list_container{
    display: none;
    table{
        tbody{
           td{
               .finded{
                   background-color: $orange-color;
                   color:#fff
               }
           }
        }
    }
    .pagination{
        .current{
            background: #bebebe;
            a{
                color: $orange-color;
            }
        }
    }
}
