#categories_list_container{
    display: none;
    table{
        font-size: 14px;
        tbody{
            tr {
                &.deleted{
                    background: $orange-dark;
                    color:#fff;
                }
                td {
                    .finded {
                        background-color: $orange-color;
                        color: #fff
                    }
                }
            }
        }
    }
    .pagination{
        .current{
            background: #bebebe;
            a{
                color: $orange-color;
            }
        }
    }
}
