#categories_list_container{
    display: none;
    .modal{
        z-index: 99999;
    }
    table{
        font-size: 14px;
        thead{
           th{
               //padding: .75rem 2px;
              .sort_icon{
                  color: $orange-color;
                  margin-left: 0px;
                  cursor: pointer;
              }
               &.item_id_heading{
                   text-align: center;
               }
           }
            .controls_th{
                width: 10%;

            }
        }
        tbody{
            tr {
                border-top: 1px solid #dee2e6;
                position: relative;
                &.deleted{
                    background: $orange-dark;
                    color:#fff;
                    td.cat_controls{
                        .material-icons{
                            line-height: 1;
                            color: #fff;
                        }
                    }
                }
                &.new{
                    background-color: #128fce;
                    color: #fff;
                    td.cat_controls{
                        .material-icons{
                            line-height: 1;
                            color: #fff;
                        }
                    }
                }
                td {
                    border-top:none;
                    .finded {
                        background-color: $orange-color;
                        color: #fff;

                    }
                    &.item_num{
                        width: 3%;
                    }
                    &.item_id{
                        width: 5%;
                        text-align: center;
                    }
                    &.item_name{
                        width: 25%;
                    }
                    &.item_heading{
                        width: 35%;
                    }


                    &.cat_controls{
                        button{
                            line-height: 1;
                            border: none;
                            outline:none !important;
                            box-shadow:none;
                            background-color: transparent;
                        }
                        .material-icons{
                            line-height: 1;
                            cursor: pointer;
                        }

                    }
                }
            }
        }
    }
    .pagination{
        .current{
            background: #bebebe;
            a{
                color: $orange-color;
            }
        }
    }
}
